{
  "printWidth": 180,
  "semi": false,
  "tabWidth": 2,
  "useTabs": true,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "arrowParens": "always",
  "quoteProps": "consistent",
  "jsxSingleQuote": false,
  "bracketSameLine": true,
  "proseWrap": "preserve",
  "vueIndentScriptAndStyle": false,
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "singleAttributePerLine": false
}
